<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} MDC=%X{user} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- TODO netty logging set to info -->
    <logger name="FacebookSharedPosts" level="debug" />
    <logger name="FacebookReplies" level="info" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>